.movie{
    background-color: #f0dc8a;
    border: solid #66512c;
    border-radius: 5px;
    margin-bottom: 15px;
}

.movie_image{
    max-width: 350px;
    max-height: 200px;
    display: block;
    margin: 0 auto;
}

.moviediv{
    margin-top: 10px;
    margin-bottom: 20px;
}