.movie{
    background-color: #f0dc8a;
    border: solid #66512c;
    border-radius: 5px;
    margin-bottom: 10px;
}

.movie_image{
    margin-bottom: 30px;
    margin-top: 30px;
    max-width: 200px;
    max-height: 100px;
}