<div class="row">
    <div class="col-md-8">
        <h3>Сайт предоставляет следующие методы API:</h3>
        <p>
            <code>/api/list</code>
        </p>
        <table>
            <thead>
                <tr>
                    <th>Method</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <td>GET</td>
                <td>Find all movies</td>
            </tbody>
        </table>
        <p>
            <code>/api/movie/:id/</code>
        </p>
        <table>
            <thead>
                <tr>
                    <th>Method</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <td>GET</td>
                <td>Find movie by it's number</td>
            </tbody>
        </table>
    </div>
</div>
