<div class="row" id="movies_row">
    {% if movies %}
        {% for movie in movies %}
            <div class="movie col-md-12">
              <div class="col-md-4">
                <div class="moviediv">
                  <a href="{{ movie['url'] }}">
                    <img src="{{ movie['image'] }}" class="img-rounded movie_image" alt="{{ movie['title'] }}">
                  </a>

                </div>
                <ul>
                  <li><b>Режиссёр: </b>{{ movie['director'] }}</li>
                  <li><b>Продолжительность: </b>{{ movie['duration'] }}</li>
                  <li><b>Дата релиза: </b>{{ movie['release'] }}</li>
                </ul>
              </div>
              <div class="col-md-7">
                <div class="row">
                  <h2><a href="{{ movie['url'] }}">{{ movie['name'] }}</a></h2>
                </div>
                <div class="row">
                  <ul>
                    <li><b>Жанр: </b>{{ movie['genre'] }}</li>
                    <li><b>Оценка/Голосовало: </b>{{ movie['rating'] }}<b>/</b>{{ movie['voted'] }}</li>
                  </ul>
                </div>
                <h3><a href="{{ movie['url'] }}">{{ movie['title'] }}</a></h3>
                <p>{{ movie['description'] }}</p>
                <p><b>Описание:</b></p>
                <p>{{ movie['text'] }}</p>
              </div>
            </div>
        {% endfor %}
    {% else %}
        <div id="stub">
            <p>Пока загружаемся :)</p>
        </div>
    {% endif %}
</div>
