<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Что в кино">
    <meta name="author" content="">
    <link rel="icon" href="static/img/favicon.ico">

    <title>Что в кино API</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

  </head>

  <body>

    <nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Что в кино</a>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-8">
            <h3>Сайт предоставляет следующие методы API:</h3>
            <p>
                <code>/api/list</code>
            </p>
            <table>
                <thead>
                    <tr>
                        <th>Method</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <td>GET</td>
                    <td>Find all movies</td>
                </tbody>
            </table>
            <p>
                <code>/api/movie/:id/</code>
            </p>
            <table>
                <thead>
                    <tr>
                        <th>Method</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <td>GET</td>
                    <td>Find movie by it's number</td>
                </tbody>
            </table>
        </div>
      </div>
      <div class="col-md-12 warn"><span>Настоящий сайт создан в исключительно учебных целях. Все сведения о фильмах взяты с сайта </span><a href="https://www.afisha.ru/">Афиша</a> </div>
    </div><!-- /.container -->

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>
