<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Что в кино">
    <meta name="author" content="">
    <link rel="icon" href="static/img/favicon.ico">

    <title>Что в кино</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

  </head>

  <body>

    <nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Что в кино</a>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        {% for movie in movies %}
        <div class="movie col-md-12">
          <div class="col-md-4">
            <div class="moviediv">
              <a href="{{ movie['url'] }}">
                <img src="{{ movie['image'] }}" class="img-rounded movie_image" alt="{{ movie['title'] }}">
              </a>

            </div>
            <ul>
              <li><b>Режиссёр: </b>{{ movie['director'] }}</li>
              <li><b>Продолжительность: </b>{{ movie['duration'] }}</li>
              <li><b>Дата релиза: </b>{{ movie['release'] }}</li>
            </ul>
          </div>
          <div class="col-md-7">
            <div class="row">
              <h2><a href="{{ movie['url'] }}">{{ movie['name'] }}</a></h2>
            </div>
            <div class="row">
              <ul>
                <li><b>Жанр: </b>{{ movie['genre'] }}</li>
                <li><b>Оценка/Голосовало: </b>{{ movie['rating'] }}<b>/</b>{{ movie['voted'] }}</li>
              </ul>
            </div>
            <h3><a href="{{ movie['url'] }}">{{ movie['title'] }}</a></h3>
            <p>{{ movie['description'] }}</p>
            <p><b>Описание:</b></p>
            <p>{{ movie['text'] }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="col-md-12 warn"><span>Настоящий сайт создан в исключительно учебных целях. Все сведения о фильмах взяты с сайта </span><a href="https://www.afisha.ru/">Афиша</a> </div>
    </div><!-- /.container -->

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>
